<!DOCTYPE HTML >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>修改页面</title>
</head>
<body>
<form th:action="@{/studentb/login}"   method="post" >
    <span th:text="${msg}"></span>
    <table >
        <tr>
            <td>
                账号：<input type="text" name="name" id="name" />
            </td>
        </tr>
        <tr>
            <td>
                密码：<input type="text" name="pwd" id="pwd" />
            </td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="登陆" />
               <button><a th:href="@{/studentb/register}">注册</a> </button>
            </td>
        </tr>
    </table>
</form>

</body>

</html>
